@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');

:root {
  --cor-primaria: #873B33; /* Cor primária */
  --cor-secundaria: #E9764E; /* Cor secundária */
  --cor-fundo: #D9B89C; /* Cor de fundo */
  --cor-texto: #09090B; /* Cor do texto */
  --fonte-principal: "Goudy Bookletter 1911", serif; /* Fonte principal */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fonte-principal);
  background-color: var(--cor-fundo);
  background-image: url('../images/background/planodefundo3.jpg'); /* Caminho da imagem */
  background-size: cover; /* A imagem cobre toda a área */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Impede que a imagem se repita */
}

/* Personalização do Cabeçalho */
header {
  background-color: rgba(135, 59, 51, 0.5); /* Cor #873B33 com 50% de opacidade */
  backdrop-filter: blur(10px);
  color: var(--cor-fundo);
  padding: 1rem 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

header h1 {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

header nav a {
  color: var(--cor-texto);
  text-decoration: none;
  margin: 0 10px;
  font-size: 16px;
}

header nav a:hover {
  text-decoration: underline;
}

/* Estilo para o Conteúdo Principal */
.container {
  max-width: 800px;
  margin: auto;
}

.card {
  margin-bottom: 1.5rem;
}

.card img {
  max-width: 30%;
  height: auto;
  margin-bottom: 1rem;
}

/* Estilo para a Lista de Curiosidades */
.card ul {
  padding-left: 0;
}

.card ul li {
  list-style: none;
  padding-left: 1.5rem;
  position: relative;
}

.card ul li::before {
  content: "\2022";
  color: #007bff; /* Cor do marcador */
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  margin-left: -1rem;
}

/* Estilo do Rodapé */
footer {
  margin-top: 75px;
  bottom: 0; /* Posiciona o footer na parte inferior */
  left: 0; /* Certifica-se de que o footer esteja alinhado à esquerda */
  width: 100%; /* Faz o footer ocupar toda a largura da tela */
  background-color: rgba(233, 118, 78, 0.4); 
  backdrop-filter: blur(10px);
  color: #fff;
  padding: 10px 0;
  text-align: center;
  z-index: 1000; /* Garante que o footer fique acima de outros elementos */
}

footer p {
  margin: 5px 0; /* Margem vertical */
  font-size: 14px; /* Tamanho da fonte */
}
